* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --dark-grey-black: #0a0c10;
    --body-text-white: #fff;
    --body-text-grey: #d2d2d2;
    --primary: #b50c5e;
    --secondary: #430ab5;
    --section-margin: 50px 50px;
    --surface-color: #fff;
    --curve: 40;
  }
  html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
  
  body {
    background-color: var(--dark-grey-black);
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
  }

  .container {
    @include MQ(S) {
      width: 95%;
    }
  }

  .sm_hide {
    @include MQ(M) {
      display: none;
    }
  }

  .md_hide {
   display: none;
   @include MQ(M) {
    display: inline-block;
   }
  }