.footer_social_icone {
    margin-top: 20px;
    a {
        text-decoration: none;
        color: var(--gray);
        display: inline-block;
        &:hover{
            color: var(--primary);
        }
    }
} 
.footer_logo {
    width: 100% !important;
    margin-bottom: 30px;
    @include MQ(S) {
        width: 25% !important;
         margin-bottom: 30px;
    }
}
.footer_pro_link{
    text-decoration: none;
}
.footer_contect_section {
    display: flex;
    flex-direction: column;
    .footer_contact_info{
        color: var(--gray);
        margin-bottom: 10px;
        text-decoration: none;
        &:hover{
            color: var(--primary);
            cursor: pointer;
        }
    }
}
.footer_website {
    color: var(--primary) !important;
}
.border-bottom {
    border-bottom: 2px solid rgba(255, 255, 255, 0.11) !important;
}